/*-------------------- FORMS ---------------------*/

.input-field {
    color: #ff5722 !important;
}

.input-field label {
    color: #ff5722;
  }
  
  .input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
    color: #ff5722 !important;
  }
  
  .input-field input[type=text]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
  }

  .input-field input[type=text].valid, .input-field input[type=password].valid {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
  }
  
  .input-field input[type=text].invalid, .input-field input[type=password].invalid {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
  }

  .select-dropdown, .dropdown-content li>span {
    color: #ff5722 !important;
    background-color: #212121 !important;
  }

/*-------------------- BODY AND TEXT ---------------------*/

body {
    color: black;
    background-color: rgb(0, 0, 0);
    background: url(../images/Untitled-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.text-1 {
    color: #fff;
}

.paragraph-style-1 {
    color: #ff7043;
}

p {
    font-size: large;
    color: #fff;
}


/*-------------------- BUTTONS ---------------------*/

.btn-floating {
    margin: 5px;
}

.btn-medium {
    border-radius: 30px;
}

/*-------------------- HEADINGS ---------------------*/

.flashes h4 {
    line-height: 2;
    color: #fff;
}

.heading {
    color: #fff;
    font-weight: 600;
}

h4 {
    color: #fff;
}

h3 {
    color: #fff;
}

/*-------------------- CARD PANELS ---------------------*/

.rounded-edge {
    border-radius: 30px;
    border: 4px solid #ff5722;
}

.search-bar {
    background-color: #212121;
}

.card-panel {
    background-color: #212121;
}

.profile-panel {
    background-color: transparent;
    box-shadow: none;
}