{% extends "base.html" %}
{% block content %}

    <h3 class="light-green-text text-darken-2 center-align">
        Dictionary
    </h3>

    <div class="row">
        <div class="col s12 m12">
            {% for definition in definitions %}
            <div class="card-panel light-green darken-4">
                <div class="white-text">
                    <strong><h4>{{ definition.word }}</h4></strong>
                    <p>{{ definition.word_definition}}</p>
                    <p>Contributor: <em>{{ definition.contributor }}</em></p>
                    <p><em>{{ definition.category_name }}</em></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}
