{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 text-1">
            <h3 class="center-align">Welcome to the Reptilian Dictionary</h3>
            <p>
                This dictionary was created with those new to reptile keeping in mind, 
                so it offers only simplified explanations for common terms that new keepers may come across.
            </p>
            <p>
                You are free to make use of the dictionary without creating an account. If you wish to contribute
                words to the dictionary, you will be required to register. You can edit and delete the words you have 
                contributed from your profile page once logged in.
            </p>
            <p>
                Please note that the words submitted will be monitored and may be removed if they are incorrect or inappropriate.
            </p>
        </div>
    </div>

    <div class="row card-panel search-bar rounded-edge">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper cemter-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix deep-orange-text text-darken-2" ></i>
                    <input type="text" name="query" id="query" class="white-text" minlength="3" class="validate" required>
                    <label for="query">Search Dictionary</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_definitions') }}" class="btn btn-medium waves-effect waves-light grey darken-2">Reset</a>
                    <button type="submit" class="btn btn-medium waves-effect waves-light deep-orange darken-2">
                        <i class="fas fa-search left"></i>
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% if definitions|length > 0 %}
        <div class="row">
            <div class="col s12 m12">
                {% for definition in definitions %}
                <div class="card-panel rounded-edge">
                    <div>
                        <strong><h4>{{ definition.word.capitalize() }}:</h4></strong>
                        <p>{{ definition.word_definition.capitalize() }}</p>
                        <p class="paragraph-style-1">Contributor: <em>{{ definition.contributor.capitalize() }}</em></p>
                        <p class="paragraph-style-1"><em>{{ definition.category_name }}</em></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
    <h3 class="red-text text-darken-2 center-align">
        No results found
    </h3>
    {% endif %}

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('get_definitions') }}" class="btn btn-large waves-effect waves-light deep-orange" >
                Back To Top
                <i class="fas fa-arrow-up right"></i>
            </a>
        </div>
    </div>

{% endblock %}
