{% extends "base.html" %}
{% block content %}
<h3 class="white-text text-darken-2 center-align">
    Welcome to Reptilian Dictionary
</h3>

<div class="row card-panel s12">
    <p>
        This glossary was created with those new to reptile keeping in mind, 
        so it offers only simplified explanations for common terms that new keepers may come across.
    </p>
    <p>
        You are free to make use of the dictionary without creating an account. If you wish to contribute
        words to the dictionary, you will be required to register. You can edit and delete the words you have 
        contributed from your profile page once logged in.
    </p>
    <p>
        Please note that the words submitted will be monitored and may be removed if they are wrong or inappropriate.
    </p>    
    </div>

{% endblock %}